#banner {
  height: 70vh;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: bottom;
  color:  white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner h1, #banner h2 {
  text-shadow: 0px 0px 5px #0000009c;
}


.banner-fixed {
  height: 25vh;
  background-size: cover;
  background-position:  center;
  background-attachment: fixed;
}
